<div class="page-wrapper correctMargin">
    <div class="content correctMargin">
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Perimetros</h4>
                                    </div>
                                </div>
                               
                               
                                
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>cefalico <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="cefalico" name="cefalico"
                                        [(ngModel)]="antropometria.cefalico">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>torax <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text"  placeholder="" id="torax" name="torax"
                                            [(ngModel)]="antropometria.torax">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>antebrazo <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="antebrazo" name="antebrazo"
                                            [(ngModel)]="antropometria.antebrazo">
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>tobillo1 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="tobillo1" name="tobillo1"
                                        [(ngModel)]="antropometria.tobillo1">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>cintura <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text"  placeholder="" id="cintura" name="cintura"
                                            [(ngModel)]="antropometria.cintura">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>cuello <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="cuello" name="cuello"
                                            [(ngModel)]="antropometria.cuello">
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>bicipitalrel <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="bicipitalrel" name="bicipitalrel"
                                        [(ngModel)]="antropometria.bicipitalrel">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>bicitalflex <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text"  placeholder="" id="bicitalflex" name="bicitalflex"
                                            [(ngModel)]="antropometria.bicitalflex">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>muslo1 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="muslo1" name="muslo1"
                                            [(ngModel)]="antropometria.muslo1">
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>cadera <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="cadera" name="cadera"
                                        [(ngModel)]="antropometria.cadera">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>muñeca1 <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text"  placeholder="" id="muneca1" name="muneca1"
                                            [(ngModel)]="antropometria.muneca1">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>gemelo1 <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="gemelo1" name="gemelo1"
                                            [(ngModel)]="antropometria.gemelo1">
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>abdomen <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="abdomen" name="abdomen"
                                        [(ngModel)]="antropometria.abdomen">
                                </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                      <label>Fecha <span class="login-danger">*</span></label>
                                      <input class="form-control datetimepicker" type="text" placeholder="" matInput
                                             [matDatepicker]="picker" [(ngModel)]="antropometria.fecha" name="fechanacimiento">
                                             
                                      <mat-datepicker #picker></mat-datepicker>
                                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    </div>
                                  </div>
                                  
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label>Leave Reason  <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30">Going to hospital</textarea>
                                    </div>
                                </div>
<!-- 
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>anotaciones <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="anotaciones" name="anotaciones"
                                        [(ngModel)]="paciente.anotaciones">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>prescripciones <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="prescripciones" name="prescripciones"
                                        [(ngModel)]="paciente.prescripciones">
                                </div>
                                </div> -->



                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit"
                                            class="btn btn-primary submit-form me-2"(click)="guardarPersona()"[routerLink]="routes.staffList">Guardar</button>
                                         
                                        <button type="submit" class="btn btn-primary cancel-form"[routerLink]="routes.staffList">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>