<div class="page-wrapper correctMargin">
    <div class="content correctMargin">
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Pliegues</h4>
                                    </div>
                                </div>
                              
                                
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>bicipital <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text"  placeholder="" id="bicipital" name="bicipital"
                                            [(ngModel)]="antropometria.bicipital">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>ileocristal <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="ileocristal" name="ileocristal"
                                            [(ngModel)]="antropometria.ileocristal">
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>supraespinal <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="supraespinal" name="supraespinal"
                                        [(ngModel)]="antropometria.supraespinal">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>axilar <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text"  placeholder="" id="axilar" name="axilar"
                                            [(ngModel)]="antropometria.axilar">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>abdominal <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="abdominal" name="abdominal"
                                            [(ngModel)]="antropometria.abdominal">
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>tricipital <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="tricipital" name="tricipital"
                                        [(ngModel)]="antropometria.tricipital">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>subescapular <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text"  placeholder="" id="subescapular" name="subescapular"
                                            [(ngModel)]="antropometria.subescapular">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>pectoral <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="pectoral" name="pectoral"
                                            [(ngModel)]="antropometria.pectoral">
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>gemelo <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="gemelo" name="gemelo"
                                        [(ngModel)]="antropometria.talla">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>muslofrontal <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text"  placeholder="" id="muslofrontal" name="muslofrontal"
                                            [(ngModel)]="antropometria.muslofrontal">
                                    </div>
                                </div>
                               
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                      <label>Fecha <span class="login-danger">*</span></label>
                                      <input class="form-control datetimepicker" type="text" placeholder="" matInput
                                             [matDatepicker]="picker" [(ngModel)]="antropometria.fecha" name="fechanacimiento">
                                             
                                      <mat-datepicker #picker></mat-datepicker>
                                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    </div>
                                  </div>
                                  
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label>Leave Reason  <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30">Going to hospital</textarea>
                                    </div>
                                </div>
<!-- 
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>anotaciones <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="anotaciones" name="anotaciones"
                                        [(ngModel)]="paciente.anotaciones">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>prescripciones <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="prescripciones" name="prescripciones"
                                        [(ngModel)]="paciente.prescripciones">
                                </div>
                                </div> -->



                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit"
                                            class="btn btn-primary submit-form me-2"(click)="guardarPersona()"[routerLink]="routes.staffList">Guardar</button>
                                         
                                        <button type="submit" class="btn btn-primary cancel-form"[routerLink]="routes.staffList">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>