<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.schedule">Lista libreta </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Editar libreta</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
            
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Editar libreta</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>nombre <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text" placeholder="" id="nombre" name="nombre"
                                            [(ngModel)]="libreta.nombre">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>telefono <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text" placeholder="" id="telefono" name="telefono"
                                            [(ngModel)]="libreta.telefono">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>celular <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text" placeholder="" id="celular" name="celular"
                                            [(ngModel)]="libreta.celular">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Correo<span class="login-danger">*</span></label>

                                        <input class="form-control" type="text" placeholder="" id="email" name="email"
                                            [(ngModel)]="libreta.email">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>web<span class="login-danger">*</span></label>

                                        <input class="form-control" type="text" placeholder="" id="web" name="web"
                                            [(ngModel)]="libreta.web">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Direccion<span class="login-danger">*</span></label>

                                        <input class="form-control" type="text" placeholder="" id="direccion" name="direccion"
                                            [(ngModel)]="libreta.direccion">
                                    </div>
                                </div>
                            
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label>Anotaciones<span class="login-danger">*</span></label>
                                        <textarea class="form-control" id="notas" name="notas"
                                            [(ngModel)]="libreta.notas" rows="3" cols="30"></textarea>

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2" (click)="actualizarDatos(id)" [routerLink]="routes.schedule">Guardar</button>
                                         
                                        <button type="submit" class="btn btn-primary cancel-form"[routerLink]="routes.schedule">Lista</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>							
            </div>					
        </div>
    </div>
</div>
 