<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.patientDashboard">Paciente </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Agregar Paciente</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="settings-menu-links">
            <ul class="nav nav-tabs menu-tabs">
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="routes.addPatient">Nuevo</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="routes.localizationDetails">Antecedentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.paymentSettings">Clinico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.emailSettings">Consultas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.socialSettings">Tratamiento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.socialLinks">Evoluciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.seoSettings">Pagos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.themeSettings">Comentarios</a>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="routes.othersSettings">E-mail/WA</a>
                    </li>
                
            </ul> 
        </div>
        
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalles de paciente</h4>
                                    </div>
                                </div>
                              
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Antecedentes clinicos <span class="login-danger">*</span></label>
                                        <textarea class="form-control" id="clinicos" name="clinicos"[(ngModel)]="paciente.clinicos"  rows="3" cols="30"></textarea>
                                        
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Antecedentes familiares <span class="login-danger">*</span></label>
                                        <textarea class="form-control" id="familiar" name="familiar"[(ngModel)]="paciente.familiar"  rows="3" cols="30"></textarea>
                                        
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Diagnostico principal <span class="login-danger">*</span></label>
                                        <textarea class="form-control" id="diagnostico" name="diagnostico"[(ngModel)]="paciente.diagnostico"  rows="3" cols="30"></textarea>
                                        
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Cormobilidades <span class="login-danger">*</span></label>
                                        <textarea class="form-control" id="cormobilidades" name="cormobilidades"[(ngModel)]="paciente.cormobilidades"  rows="3" cols="30"></textarea>
                                        
                                    </div>
                                </div>
                                



                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit"
                                            class="btn btn-primary submit-form me-2"(click)="guardarPersona()"[routerLink]="routes.patientsList">Registrar</button>
                                         
                                        <button type="submit" class="btn btn-primary cancel-form"[routerLink]="routes.patientsList">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>