<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.patientDashboard">Antropometria </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Antropometria</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="settings-menu-links">
            <ul class="nav nav-tabs menu-tabs">
                <li class="nav-item active">
                    <a class="nav-link" (click)="changeInterface('inicial')">Inicial</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" (click)="changeInterface('pliegue')">Pliegues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="changeInterface('Diametros')">Diametros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="changeInterface('Perimetros')">Perimetros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="changeInterface('Longuitudes')">Longuitudes</a>
                </li>
                
                <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.emailSettings">Consultas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.socialSettings">Tratamiento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.socialLinks">Evoluciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="routes.seoSettings">Pagos</a>
                </li> -->
                
                    <!-- <li class="nav-item">
                        <a class="nav-link" [routerLink]="routes.othersSettings">E-mail/WA</a>
                    </li> -->
                
            </ul> 
        </div>
        <!-- /Page Header -->
        <div class="row" *ngIf="bCompntinicial">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Inicial</h4>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>edad <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text"  placeholder="" id="edad" name="edad"
                                            [(ngModel)]="antropometria.edad">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>peso <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="peso" name="peso"
                                            [(ngModel)]="antropometria.peso">
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>talla <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="talla" name="talla"
                                        [(ngModel)]="antropometria.talla">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>tronco <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text"  placeholder="" id="tronco" name="tronco"
                                            [(ngModel)]="antropometria.tronco">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>dsuspino <span class="login-danger">*</span></label>
                                        <input class="form-control" type="dsuspino"  placeholder="" id="dsuspino" name="dsuspino"
                                            [(ngModel)]="antropometria.dsuspino">
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>envergadura <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="envergadura" name="envergadura"
                                        [(ngModel)]="antropometria.envergadura">
                                </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                      <label>Fecha <span class="login-danger">*</span></label>
                                      <input class="form-control datetimepicker" type="text" placeholder="" matInput
                                             [matDatepicker]="picker" [(ngModel)]="antropometria.fecha" name="fechanacimiento">
                                             
                                      <mat-datepicker #picker></mat-datepicker>
                                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    </div>
                                  </div>

                                  <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>anotaciones <span class="login-danger">*</span></label>
                                        <textarea class="form-control" id="comentarios" name="comentarios"[(ngModel)]="antropometria.anotaciones"  rows="3" cols="30"></textarea>
                                        
                                    </div>
                                </div>
<!-- 
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>anotaciones <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="anotaciones" name="anotaciones"
                                        [(ngModel)]="paciente.anotaciones">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>prescripciones <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="prescripciones" name="prescripciones"
                                        [(ngModel)]="paciente.prescripciones">
                                </div>
                                </div> -->



                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit"
                                            class="btn btn-primary submit-form me-2"(click)="guardarPersona()"[routerLink]="routes.staffList">Guardar</button>
                                         
                                        <button type="submit" class="btn btn-primary cancel-form"[routerLink]="routes.staffList">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-edit-leave [hidden]="!bCompntpliegue"></app-edit-leave>
<app-edit-staff [hidden]="!bCompntdiame"></app-edit-staff>
<app-staff-attendance [hidden]="!bCompontperimetros"></app-staff-attendance>
<app-staff-holiday [hidden]="!bCompontlongitudes"></app-staff-holiday>