app-localization-details[hidden] {
  display: none;
}

.imagen-pequena {
  max-width: 200px;
  /* Establecer el ancho máximo */
  max-height: 200px;
  /* Establecer la altura máxima */
  width: auto;
  /* Hacer que el ancho se ajuste automáticamente mientras se respeta el máximo */
  height: auto;
  /* Hacer que la altura se ajuste automáticamente mientras se respeta el máximo */
}
.texti{
  color: #e87d7d; /* Color rojo similar al utilizado por Bootstrap para errores */
  font-size: 12px; /* Tamaño de la fuente */
  font-weight: bold; /* Peso de la fuente */
  margin-top: 10px; /* Espaciado superior para separar del campo de entrada */
}
