<div class="page-wrapper correctMargin">
    <div class="content correctMargin">
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Diametros</h4>
                                    </div>
                                </div>
                            
                               
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>humeral <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="humeral" name="humeral"
                                            [(ngModel)]="antropometria.humeral">
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>femoral <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="femoral" name="femoral"
                                        [(ngModel)]="antropometria.femoral">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>biacromial <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text"  placeholder="" id="biacromial" name="biacromial"
                                            [(ngModel)]="antropometria.biacromial">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>biileocretideo <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="biileocretideo" name="biileocretideo"
                                            [(ngModel)]="antropometria.biileocretideo">
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>toraxap <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="toraxap" name="toraxap"
                                        [(ngModel)]="antropometria.toraxap">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>muslo <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text"  placeholder="" id="muslo" name="muslo"
                                            [(ngModel)]="antropometria.muslo">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>tobillo <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="tobillo" name="tobillo"
                                            [(ngModel)]="antropometria.tobillo">
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>biliacodi <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="biliacodi" name="biliacodi"
                                        [(ngModel)]="antropometria.biliacodi">
                                </div>
                                </div>
                                
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>muñeca <span class="login-danger">*</span></label>

                                        <input class="form-control" type="text"  placeholder="" id="muneca" name="muneca"
                                            [(ngModel)]="antropometria.muneca">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>toraxtrans <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="toraxtrans" name="toraxtrans"
                                            [(ngModel)]="antropometria.toraxtrans">
                                    </div>
                                </div>
                                

                               
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                      <label>Fecha <span class="login-danger">*</span></label>
                                      <input class="form-control datetimepicker" type="text" placeholder="" matInput
                                             [matDatepicker]="picker" [(ngModel)]="antropometria.fecha" name="fechanacimiento">
                                             
                                      <mat-datepicker #picker></mat-datepicker>
                                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    </div>
                                  </div>
                                  
                                  <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>anotaciones <span class="login-danger">*</span></label>
                                        <textarea class="form-control" id="comentarios" name="comentarios"[(ngModel)]="antropometria.anotaciones"  rows="3" cols="30"></textarea>
                                        
                                    </div>
                                </div>
<!-- 
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>anotaciones <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="anotaciones" name="anotaciones"
                                        [(ngModel)]="paciente.anotaciones">
                                </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>prescripciones <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  placeholder="" id="prescripciones" name="prescripciones"
                                        [(ngModel)]="paciente.prescripciones">
                                </div>
                                </div> -->



                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit"
                                            class="btn btn-primary submit-form me-2"(click)="guardarPersona()"[routerLink]="routes.staffList">Guardar</button>
                                         
                                        <button type="submit" class="btn btn-primary cancel-form"[routerLink]="routes.staffList">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>