.texti{
    color: #e87d7d; /* Color rojo similar al utilizado por Bootstrap para errores */
    font-size: 12px; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    margin-top: 10px; /* Espaciado superior para separar del campo de entrada */
  }

  .profile-views {
    flex-direction: row;
  }
