.btn-plateado {
    background-color: silver; /* O cualquier otro color plateado que desees */
    color: #000; /* Cambia el color del texto si es necesario */
    /* Puedes agregar más estilos según tus necesidades */
}
.btn-gris {
    background-color: grey; /* O cualquier otro tono de gris que desees */
    color: #fff; /* Cambia el color del texto si es necesario */
    /* Puedes agregar más estilos según tus necesidades */
}
.btn-azul {
    background-color: blue; /* O cualquier otro tono de gris que desees */
    color: #fff; /* Cambia el color del texto si es necesario */
    /* Puedes agregar más estilos según tus necesidades */
}
.btn-celeste {
    background-color: skyblue; /* O cualquier otro tono de gris que desees */
    color: #000; /* Cambia el color del texto si es necesario */
    /* Puedes agregar más estilos según tus necesidades */
}
.btn-verdeamarillo {
    background-color: greenyellow; /* O cualquier otro tono de gris que desees */
    color: #000; /* Cambia el color del texto si es necesario */
    /* Puedes agregar más estilos según tus necesidades */
}
.btn-verde {
    background-color: green; /* O cualquier otro tono de gris que desees */
    color: #fff; /* Cambia el color del texto si es necesario */
    /* Puedes agregar más estilos según tus necesidades */
}
.btn-cafe {
    background-color: brown; /* O cualquier otro tono de gris que desees */
    color: #fff; /* Cambia el color del texto si es necesario */
    /* Puedes agregar más estilos según tus necesidades */
}
.btn-lila {
    background-color: plum; /* O cualquier otro tono de gris que desees */
    color: #000; /* Cambia el color del texto si es necesario */
    /* Puedes agregar más estilos según tus necesidades */
}
.btn-purpura {
    background-color: purple; /* O cualquier otro tono de gris que desees */
    color: #fff; /* Cambia el color del texto si es necesario */
    /* Puedes agregar más estilos según tus necesidades */
}
.btn-rosa {
    background-color: pink; /* O cualquier otro tono de gris que desees */
    color: #000; /* Cambia el color del texto si es necesario */
    /* Puedes agregar más estilos según tus necesidades */
}
.btn-naranja {
    background-color: orange; /* O cualquier otro tono de gris que desees */
    color: #fff; /* Cambia el color del texto si es necesario */
    /* Puedes agregar más estilos según tus necesidades */
}

.svg-container {
    margin-top: -2px; /* Ajusta el valor según la separación deseada */
  }
  .svg-container2 {
    margin-top: -7px; /* Ajusta el valor según la separación deseada */
  }
  .svg-container8 {
   
    margin-left: -5px; /* Ajusta el valor según la separación deseada */
  }
  .svg-container3 {
   
    margin-left: -4px; /* Ajusta el valor según la separación deseada */
  }
  .svg-container4 {
   
    margin-left: -2px; /* Ajusta el valor según la separación deseada */
  }
  .svg-container5 {
   
    margin-left: -5px; /* Ajusta el valor según la separación deseada */
  }
  .svg-container7 {
   
    margin-left: -1px; /* Ajusta el valor según la separación deseada */
  }
  .text {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  } 
  .text1 {
    position: absolute;
    top: 37.5%;
    left: 3.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text2 {
    position: absolute;
    top: 37.5%;
    left: 7.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text3 {
    position: absolute;
    top: 37.5%;
    left: 12%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text4 {
    position: absolute;
    top: 37.5%;
    left: 16.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text5{
    position: absolute;
    top: 37.5%;
    left: 20.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text6{
    position: absolute;
    top: 37.5%;
    left: 24.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text7{
    position: absolute;
    top: 37.5%;
    left: 28.9%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text8{
    position: absolute;
    top: 37.5%;
    left: 32.6%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text9{
    position: absolute;
    top: 37.5%;
    left: 36.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text10{
    position: absolute;
    top: 37.5%;
    left: 40.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text11{
    position: absolute;
    top: 37.5%;
    left: 44.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text12{
    position: absolute;
    top: 37.5%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text13{
    position: absolute;
    top: 37.5%;
    left: 52.7%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text15{
    position: absolute;
    top: 37.5%;
    left:  56.9%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text16{
    position: absolute;
    top: 37.5%;
    left: 61.3%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .text17{
    position: absolute;
    top: 37.5%;
    left: 64.9%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
//   .icon {
//     position: relative;
//     display: inline-block;
// }

.icon img {
    width: 50px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto;
}
.icon {
  position: relative;
}

.combo-box {
    position: relative;
    top: 100%; /* Coloca el combo box debajo de la imagen */
    left: 15px;
    width: 20px; /* Ancho del combo box (punto) */
    height: 20px;
     /* Altura del combo box */
    border-radius: 30%;
    background-color: #3498db; /* Color del punto */
    cursor: pointer;
}

.combo-box .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    width: 100px; /* Ajusta el ancho del desplegable según tus necesidades */
    background-color: #fff;
    z-index: 1;
}

.combo-box:focus .dropdown-content {
    display: block;
}

.combo-box .dropdown-content option {
    display: block;
    padding: 8px;
}
/////
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
  
  .button-container {
    width: 30%;
  }
  
  .button-container button {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  
  .form-container {
    width: 60%;
  }
  
  .form-container .form-group {
    margin-top: 50px;
  }
  
  .login-danger {
    color: red; /* Cambia el color según tus necesidades */
  }
  