<div class="page-wrapper correctMargin">
    <div class="content correctMargin">


        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalles de paciente</h4>
                                    </div>
                                </div>
                              
                                
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Comentarios <span class="login-danger">*</span></label>
                                        <textarea class="form-control" id="comentarios" name="comentarios"[(ngModel)]="paciente.comentarios"  rows="3" cols="30"></textarea>
                                        
                                    </div>
                                </div>
                                



                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit"
                                            class="btn btn-primary submit-form me-2"(click)="guardarPersona()"[routerLink]="routes.patientsList">Registrar</button>
                                         
                                        <button type="submit" class="btn btn-primary cancel-form"[routerLink]="routes.patientsList">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>